.img {
    display: flex;
    justify-content: flex-end;

    img {
        width: 500px;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 1000px) {
    .img {
        img {
            width: 400px;
        }
    }
}

@media screen and (max-width: 900px) {
    .img {
        display: none;
    }
}